@charset "utf-8";
@-webkit-keyframes name {
  
}
@-moz-keyframes name {
  
}
@-ms-keyframes name {
  
}
@keyframes name {
  
}
html,
body {
  width: 100%;
  height: 100%;
  font-size: 100px;
  background: #ffffff;
}
.page {
  font-size: 0.14rem;
}
.header {
  width: 100%;
  height: 45px;
  line-height: 45px;
  text-align: center;
  color: #ffffff;
  background: #357AE8;
}
.content {
  padding: 0 0 14px;
  background: #ffffff;
}
.img {
  position: relative;
  margin-top: 14px;
  padding: 10px 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 7px #357ae8;
  -moz-box-shadow: inset 0 0 7px #357ae8;
  -ms-box-shadow: inset 0 0 7px #357ae8;
  -o-box-shadow: inset 0 0 7px #357ae8;
  box-shadow: inset 0 0 7px #357ae8;
}
.img strong {
  display: block;
  margin: 0 10px 10px;
}
.img p {
  margin: 5px 20px;
  color: #666666;
}
.img a {
  position: absolute;
  display: none;
  top: 80px;
  left: 20px;
  padding: 0 2px;
  height: 18px;
  line-height: 18px;
  background: rgba(255, 255, 255, 0.75);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  font-size: 0.12rem;
}
.img img {
  display: block;
  width: calc(100% - 14px);
  margin: 0 auto;
}
.img img.active {
  -webkit-animation: imgActive .48s;
  animation: imgActive .48s;
}
.img span {
  display: block;
  line-height: 20px;
  margin: 3px 20px 3px;
  font-size: 0.12rem;
  color: #666666;
}
@-webkit-keyframes imgActive {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .6;
    transform: scale(0.8, 0.8) rotate(5deg);
  }
  to {
    opacity: 1;
    transform: scale(1, 1) rotate(0deg);
  }
}
@keyframes imgActive {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .6;
    transform: scale(0.8, 0.8) rotate(5deg);
  }
  to {
    opacity: 1;
    transform: scale(1, 1) rotate(0deg);
  }
}
