@charset "utf-8";
@import "constant";
html,
body {
    background: @bodybg;
    font-size: @allSize;
}
.page {
    .allXNW();
    margin-bottom: 40px;
}
.header {
    .logo {
        display: inline-block;
        margin: auto 30px;
        .wH(160px, 60px);
        .bg("../img/logo.png");
    }
    ul {
        float: right;
        margin: 0 40px 0 0;
        li {
            position: relative;
            float: left; //          margin: 0 10px 18px;
            .wH(70px, 90px);
            text-align: center;
            span {
                position: absolute;
                display: inline-block;
                top: 0;
                left: 0;
                .wH(100%, 0%);
                .bg("../img/buttonimg.png");
            }
            a {
                position: absolute;
                display: block;
                left: 0;
                bottom: 0;
                color: @fff;
                font-size: @commonSize;
                .wH(line, 100%, 30px); //              .gradient();
                .shadowText(3px, 3px, @000);
                .radius4(70%, 10px, 0, 0);
                .shadow4(inset, 20px, @lightOR);
                border: 2px solid @lightOR;
                background: @orangeRed;
                z-index: 100;
                &:hover {
                    background: @lightOR;
                    span {
                        .animat(menuBar 1000s ease-out 200);
                    }
                }
                &:active {
                    .gradient(@lightOR, @orangeRed);
                }
            }
        }
    }
}
.animatKey(~"menuBar {0%{top: 0;left: 20px;width: 0;height: 0;}.05% {top: -51px;left: 0;width: 100%;height: 170%;background: url('../img/buttonimg.png') center no-repeat;background-size: 100% 100%;}100% {top: -51px;left: 0;width: 100%;height: 170%;background: url('../img/buttonimg.png') center no-repeat;background-size: 100% 100%;}}");
.img {
    margin: 0 0 15px;
    .img-content {
        position: relative;
        .wH(100%, 500px); //      border: 1px solid #fff;
        .radius();
        overflow: hidden;
        &>span {
            position: absolute;
            display: inline-block;
            top: 230px;
            .wH(60px, 60px);
            .radius(100%);
            background: rgba(213, 213, 213, 0.35);
            z-index: 100;
            a {
                display: block;
                .wH(100%, 100%);
                .bg("../img/arrows.png", 70%, 70%);
            }
        }
    }
    .data-img {
        position: relative;
        .wH(100%, 100%);
        img {
            position: absolute;
            .wH(100%, 100%);
            opacity: 0;
        }
        img.init0 {
            opacity: 0;
            .scale(0, 0);
        }
        img.init1 {
            opacity: 0;
            .translate(-1024px);
        }
        img.init2 {
            opacity: 0;
            .scale-rotate(scale(0.3,0.3) translate(-2688px,-1085px));
        }
        // 图片切换动态效果
        ///////////////////////////////////////hide
        img.opacity-hide {
            opacity: 0;
            .scale();
            .tran(all 1.5s ease-in);
        }
        //---
        img.translate-hide {
            opacity: 0;
            .translate(1024px);
            .tran(all 1.5s ease-in);
        }
        //---
        @-webkit-keyframes rthide {
            0% {}
            50% {opacity: 0.7;.scale-rotate(scale(0.3,0.3) rotate(360deg));}
            100% {opacity: 0;.scale-rotate(scale(0,0) rotate(360deg) translate(3000px,-2000px));}
        }
        img.rotate-tran-hide {
            -webkit-animation: rthide 1.5s;
            animation-fill-mode: forwards;
        }
        
        ///////////////////////////////////////show
        img.opacity-show {
            opacity: 1;
            .scale(1, 1);
            .tran(all 1.5s ease-in);
        }
        //----opacity: 0;transform: translateX(-1024px);
        img.translate-show {
            opacity: 1;
            .translate(0px);
            .tran(all 1.5s ease-in);
        }
        //---
        @-webkit-keyframes rtshow {
            0% {
//              opacity: 0;.scale-rotate(scale(0,0) translate(300px,300px));
            }
            20% {
                opacity: 0.4;.scale-rotate(scale(0.3,0.3) translate(-1900px,0px));
                -webkit-animation-timing-function: cubic-bezier(.8,.24,.95,.59);
            }
            38% {
                opacity: 0.6;.scale-rotate(scale(0.3,0.3) translate(-1188px,-800px));
                -webkit-animation-timing-function: cubic-bezier(.18,.68,.3,.95);
            }
            53% {
                opacity: 0.7;.scale-rotate(scale(0.3,0.3) translate(-788px,0px));
                -webkit-animation-timing-function: cubic-bezier(.8,.24,.95,.59);
            }
            65% {
                opacity: 0.7;.scale-rotate(scale(0.3,0.3) translate(-488px,-435px));
                -webkit-animation-timing-function: cubic-bezier(.18,.68,.3,.95);
            }
            75% {
                opacity: 0.7;.scale-rotate(scale(0.3,0.3) translate(0,0));
                -webkit-animation-timing-function: cubic-bezier(.8,.24,.95,.59);
            }
            86% {
                opacity: 0.7;.scale-rotate(scale(0.3,0.3) translate(0,0));
            }
            100% {opacity: 1;.scale-rotate(scale(1,1) translate(0,0));}
        }
        img.rotate-tran-show {
            -webkit-animation: rtshow 1.5s;
            animation-fill-mode: forwards;
        }
    }
    .s-left {
        left: 30px;
        a {
            .rotatey(260deg);
        }
        &:hover {
            background: rgba(0, 0, 0, 0.55);
            a {
                .rotatey(220deg);
                transition: all 1s;
            }
            transition: all 1s;
        }
    }
    .s-right {
        right: 30px;
        a {
            .rotatey(80deg);
        }
        &:hover {
            background: rgba(0, 0, 0, 0.55);
            a {
                .rotatey(40deg);
                transition: all 1s;
            }
            transition: all 1s;
        }
    }
}
.dynamic {
    width: 100%;
    font-size: @commonSize;
}
.neirong {
    margin-right: 500px;
    border: 1px solid @ccc;
    .shadow4(10px);
}
.lan {
    margin: 5px;
    padding: 5px;
    .shadow4(inset, 10px, @666 * 1.5);
    .article {
        margin: 15px 15px 2px;
        line-height: 25px;
        word-spacing: 1px;
        letter-spacing: 1px;
        border-bottom: 1px solid @ccc;
    }
    ul {
        display: block;
        height: 40px;
        text-align: center;
        li {
            float: left;
            margin: 0 20px;
            .wH(line, 85px, 40px);
            &:nth-child(1) {
                a:before {
                    content: "";
                    position: absolute;
                    display: block;
                    top: 10px;
                    left: 0;
                    .wH(20px, 20px);
                    .bg("../img/clike.png");
                }
            }
            &:nth-child(2) {
                a:before {
                    content: "";
                    position: absolute;
                    display: block;
                    top: 10px;
                    left: 0;
                    .wH(20px, 20px);
                    .bg("../img/creply.png");
                }
            }
            &:nth-child(3) {
                a:before {
                    content: "";
                    position: absolute;
                    display: block;
                    top: 10px;
                    left: 7px;
                    .wH(20px, 20px);
                    .bg("../img/csafe.png");
                }
            }
        }
        a {
            position: relative;
            display: block;
            .wH(100%, 100%);
            color: @666;
            &:hover {
                color: @666 / 1.7;
            }
        }
    }
}
.evaluate {
    float: right;
    padding: 15px;
    width: 420px;
    .shadow4(10px);
    span {
        display: block;
        .wH(line, 100%, 40px);
        text-indent: 0.2rem;
        color: @fff;
        .radius();
        .shadow4(inset, 10px, @fff);
        background: @orangeRed;
    }
    ul {
        border-right: 1px solid @ccc;
        border-bottom: 1px solid @ccc;
        border-left: 1px solid @ccc;
    }
    p {
        line-height: 30px;
        margin: 10px;
        padding: 5px;
        .radius(2px);
        background: @fff / 1.1;
        a {
            color: @666;
        }
        &:hover {
            background: @lightOR * 2;
            a {
                color: @666 / 2;
            }
        }
    }
}
.bottomer {
    .wH(line, 100%, 80px);
    font-size: 14px;
    text-align: center;
    background: @666 * 2.2;
    span {
        color: @lightOR;
    }
    a {
        color: @666 / 2;
        text-decoration: underline;
    }
}
